<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <!--/*  Each token will be replaced by their respective titles in the resulting page. */-->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>

</head>
<body style="background-color: #465a64">
<!--/* Standard layout can be mixed with Layout Dialect */-->
<div style="width: 1024px; background-color: white" class="container">
    <div th:replace="fragments/header :: header">
        ...
    </div>
    <div layout:fragment="content" class="col-xs-12" style="min-height: 500px">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "fragments/header.html" at runtime.                                     -->
        <!-- ============================================================================ -->
        <h1>Static content for prototyping purposes only</h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
            Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
            Phasellus et placerat elit.
        </p>
    </div>
    <div class="col-xs-12" style="background-color: #0f4155; margin-top: 10px; margin-bottom: 10px; color: white">
        <div th:replace="fragments/footer :: footer" class="col-xs-12"> 2014 The Static Templates</div>
    </div>
</div>
</body>
</html>